*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}

html , body {
    height: 100%;
    width: 100%;
}


#nav-div {
    height: 11vh;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.7vh;
    font-weight: 100;
    position: fixed;
    gap: 50px ;
    justify-content: space-between  ;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2vh;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    
    
}
#nav-div button{
    height: 3vw;
    width: 12vw;
    padding: 1.5vh 1.5vw;
    margin-right: 2vw;
    border: 1px solid rgba(255, 255, 255, 0.295);
    background-color: transparent;
    border-radius: 30px;
    font-size: 2vh;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 1px;
    overflow: hidden;
}
#nav-div button:hover{
    border: 2px solid white;
    transition: .3s;
    cursor: pointer;
    -webkit-animation: blink 0.7s ;
  animation: blink 0.7s  ;
}
#nav-div button #btn:hover{
    transform: translate(0px,-37px);
    transition:  .3s;
}

#nav-div button #btn{
    display: flex;
    justify-content: space-between;
}
#nav-div button #btn #btn-txt div{
    margin-bottom: 2vh;
}
#nav-div button #btn #btn-arrow div{
    margin-bottom: 2vh;
}
@-webkit-keyframes blink {
    100% {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, ;
    }
  }
  
  @keyframes blink {
    100% {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff
       ;
    }
  }





#nav-div #nav   {
    display: flex;
    gap: 50px;
    letter-spacing: 1px;
    padding-left: 2vh;
}


#main-nav{
    width: 100vw;
    display: flex;
    justify-content: center;
}


#nav img{
    height: 20px;
}

#nav h4 {
   text-transform: uppercase;
   font-weight: 500;  
}



video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
   z-index: -1;
    
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.550); 
 }

#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

#page1 #majtext{
    /* z-index: 99; */
    padding-top: 65vh;
    padding-left: 25vh;
    
    width: 70%;
    font-weight: 100;

}

#majtext h1{
    font-size: 70px;
    font-weight: 150;
    letter-spacing: 2px;
}

#majtext p{
    padding-top: 20px;
    font-weight: 100;

}


/*#page1 #shadow{
   
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}*/


                                                       /* //page 2 */

#page2{
    height: 80vh;
    width: 100%;
    background-color: black;
    padding: 15vh;
}
#page2 #p2-main{
    width: 100%;
    display: flex;
    justify-content: center ;
}
#page2 #p2{
    position: relative;
    height: 55vh;
    width: 80vw;
    
    padding: 2vh;
    font-size: 1.8vh;
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    
}
#page2 #p2 #p2-left{
    width: 25%;
    
}

#page2 #p2 #p2-right{
    width: 75%;
  
   display: flex;
   flex-direction: column;
}
#page2 #p2 #p2-right #right-up{
    height: 50%;
    font-size: 7vh;
    padding: 1vh;
}

#page2 #p2 #p2-right #right-down{
    height: 50%;
    display: flex;
    
}

#page2 #p2 #p2-right #right-down .slide{
    position: relative;
    height: 100%;
    width: 33%;
   
    overflow: hidden;
    margin: 2vh;
    border-radius: 10px;
}
#page2 #p2 #p2-right #right-down .slide:hover{
    transform: scale(1.1);
    transition: all ease 1s;
}

#page2 #p2 #p2-right #right-down .slide #txt-1{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
   padding: 2vw;
   font-weight: 100;
}

#page2 #p2 #p2-right #right-down .slide #txt-1:hover{
    transform: translate(300px);
    opacity: 0.6;
    transition: 1s;

}

#page2 #p2 #p2-right #right-down .slide #vid-1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

#page2 #p2 #p2-right #right-down .slide video{
    height: 100%;
    
    object-fit: cover;
}

#page2 #p2 #p2-right #right-down .slide #txt-1 #Variety{
    font-size: 4vh;
    height: 50%;
}
#page2 #p2 #p2-right #right-down .slide #txt-1 #Watch{
    height: 50%;
    margin-top: 3vh;
    color: #ffffff6d;
}



#page2 #p2 #p2-right #right-down .slide #txt-2{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
   padding: 2vw;
   font-weight: 100;
}
#page2 #p2 #p2-right #right-down .slide #txt-2 #Quality{
    font-size: 4vh;
    height: 50%;
}
#page2 #p2 #p2-right #right-down .slide #txt-2 #Watch-2{
    height: 50%;
    margin-top: 3vh;
    color: #ffffff6d;
}
#page2 #p2 #p2-right #right-down .slide #txt-2:hover{
    transform: translate(300px);
    opacity: 0.6;
    transition: 1s;

}
#page2 #p2 #p2-right #right-down .slide #vid-2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}



#page2 #p2 #p2-right #right-down .slide #txt-3{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
   padding: 2vw;
   font-weight: 100;
}
#page2 #p2 #p2-right #right-down .slide #txt-3 #Innovasion{
    font-size: 4vh;
    height: 50%;
}
#page2 #p2 #p2-right #right-down .slide #txt-3 #Watch-3{
    height: 50%;
    margin-top: 3vh;
    color: #ffffff6d;
}
#page2 #p2 #p2-right #right-down .slide #txt-3:hover{
    transform: translate(300px);
    opacity: 0.6;
    transition: 1s;

}
#page2 #p2 #p2-right #right-down .slide #vid-3{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
#page2 #p2 #p2-right #right-down .slide #vid-3 video{
    
    width: 100%;
  
    
}




/* page 3 */

#page3{
    height: 300vh;
    width: 100%;
    background-color: red;
}

#page4 {
    height: 100vh;
    width: 100vw;
}

#page4 video{
    height: 80vh;

}

#page4 h1 {
    padding: 150px;
   font-size: 47px;
   font-weight: 100;
   letter-spacing: 1.5px;
}

#page4 #line{
    border-left: 1px solid white;
    height: 595px;
    position: absolute;
    left: 78%;
    margin-left: -3px;
    top: 1485px;
}

#page4 #circle{

}